In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('data.csv')
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [3]:
sum(df.duplicated())

0

In [4]:
df.isna().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stab    10000 non-null  float64
 13  stabf   10000 non-null  object
dtypes: float64(13), object(1)
memory usage: 1.1+ MB

In [6]:
df.drop('stab', axis=1, inplace=True)

In [7]:
df.tail(3)

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
9997,2.364034,2.842030,8.776391,1.008906,4.299976,-1.380719,-0.943884,-1.975373,0.487838,0.986505,0.149286,0.145984,stable
9998,9.631511,3.994398,2.757071,7.821347,2.514755,-0.966330,-0.649915,-0.898510,0.365246,0.587558,0.889118,0.818391,unstable
9999,6.530527,6.781790,4.349695,8.673138,3.492807,-1.390285,-1.532193,-0.570329,0.073056,0.505441,0.378761,0.942631,unstable

In [8]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
encoder = LabelEncoder()
df['stabf'] = encoder.fit_transform(df['stabf'])

In [9]:
df.tail(3)

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
9997,2.364034,2.842030,8.776391,1.008906,4.299976,-1.380719,-0.943884,-1.975373,0.487838,0.986505,0.149286,0.145984,0
9998,9.631511,3.994398,2.757071,7.821347,2.514755,-0.966330,-0.649915,-0.898510,0.365246,0.587558,0.889118,0.818391,1
9999,6.530527,6.781790,4.349695,8.673138,3.492807,-1.390285,-1.532193,-0.570329,0.073056,0.505441,0.378761,0.942631,1

In [10]:
X = df.drop(columns= 'stabf') 
y = df['stabf']

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size= 0.2 , random_state= 1 )

In [12]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
train_df = scaler.fit_transform(x_train)
train_df = pd.DataFrame(train_df,
columns=x_train.columns)


x_test = x_test.reset_index(drop= True )
test_df = scaler.transform(x_test)
test_df = pd.DataFrame(test_df,
columns=x_test.columns)

In [13]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier

In [14]:
rf = RandomForestClassifier()
rf.fit(train_df, y_train)

RandomForestClassifier()

In [15]:
from sklearn.metrics import recall_score, accuracy_score, precision_score, f1_score, confusion_matrix
new_predictions = rf.predict(test_df)

In [16]:
accuracy = accuracy_score(y_test, y_pred=new_predictions)
print('Accuracy: {}'.format(accuracy))

Accuracy: 0.922

In [17]:
import xgboost as xgb
xg = xgb.XGBClassifier()

In [18]:
xg.fit(train_df, y_train)

XGBClassifier()

In [19]:
new_prediction = xg.predict(test_df)

In [20]:
accuracy = accuracy_score(y_test, new_prediction)
print('Accuracy: {}'.format(accuracy))

Accuracy: 0.9195

In [21]:
import lightgbm as lgb
lg = lgb.LGBMClassifier()

In [22]:
lg.fit(train_df, y_train)
lg_prediction = lg.predict(test_df)

In [23]:
accuracy = accuracy_score(y_test, lg_prediction)
print('Accuracy: {}'.format(accuracy))

Accuracy: 0.9375

In [24]:
et = ExtraTreesClassifier()
et.fit(train_df, y_train)

ExtraTreesClassifier()

In [25]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

In [26]:
et_grid = {'n_estimators' : np.arange(10,1000,100),
           'max_depth': [None, 3, 5, 10],
           'min_samples_split': np.arange(2, 20, 2),
           'min_samples_leaf': (1, 20, 2)}

In [27]:
rd = RandomizedSearchCV(ExtraTreesClassifier(),
                        param_distributions = et_grid,
                        cv=5,
                        n_iter=10,
                        verbose = True)

In [28]:
rd = RandomizedSearchCV(cv = 5,
                   n_iter=10,         
                   param_distributions = et_grid,
                   estimator = ExtraTreesClassifier(),
                   scoring = 'accuracy',
                   n_jobs = -1,
                   verbose = 1,
                   random_state = 1)

In [29]:
et = ExtraTreesClassifier()
et.fit(train_df, y_train)

ExtraTreesClassifier()

In [30]:
et_prediction = et.predict(test_df)

In [31]:
accuracy = accuracy_score(y_test, et_prediction)
print('Accuracy: {}'.format(accuracy))

Accuracy: 0.9275

In [32]:
et

ExtraTreesClassifier()

In [33]:
rd.fit(train_df, y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

RandomizedSearchCV(cv=5, estimator=ExtraTreesClassifier(), n_jobs=-1,
                   param_distributions={'max_depth': [None, 3, 5, 10],
                                        'min_samples_leaf': (1, 20, 2),
                                        'min_samples_split': array([ 2,  4,  6,  8, 10, 12, 14, 16, 18]),
                                        'n_estimators': array([ 10, 110, 210, 310, 410, 510, 610, 710, 810, 910])},
                   random_state=1, scoring='accuracy', verbose=1)

In [34]:
rd.best_params_

{'n_estimators': 510,
 'min_samples_split': 12,
 'min_samples_leaf': 2,
 'max_depth': None}